/* Flex and Grid helpers */
.sb-flex {
  display: flex !important;
}
.sb-inline-flex {
  display: inline-flex !important;
}
.sb-block {
  display: block !important;
}
.sb-inline-block {
  display: inline-block !important;
}
.sb-grid {
  display: grid !important;
}
.sb-inline-grid {
  display: inline-grid !important;
}

.sb-flex-row {
  flex-direction: row !important;
}
.sb-flex-col {
  flex-direction: column !important;
}
.sb-flex-wrap {
  flex-wrap: wrap !important;
}
.sb-items-start {
  align-items: flex-start !important;
}
.sb-items-center {
  align-items: center !important;
}
.sb-items-end {
  align-items: flex-end !important;
}
.sb-justify-start {
  justify-content: flex-start !important;
}
.sb-justify-center {
  justify-content: center !important;
}
.sb-justify-between {
  justify-content: space-between !important;
}
.sb-justify-around {
  justify-content: space-around !important;
}

@for $i from 1 through 12 {
  .sb-grid-cols-#{$i} {
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr)) !important;
  }
}
