@import "tokens";

@for $i from 1 through 12 {
  .sb-w-#{$i}\/12 {
    width: percentage($i / 12) !important;
  }
  .sb-min-w-#{$i}\/12 {
    min-width: percentage($i / 12) !important;
  }
  .sb-max-w-#{$i}\/12 {
    max-width: percentage($i / 12) !important;
  }
}

@each $n in 0 0.25 0.5 0.75 1 1.25 1.5 2 2.5 3 4 5 6 8 10 12 16 20 24 {
  .sb-w-#{$n} {
    width: #{$n}rem !important;
  }
  .sb-h-#{$n} {
    height: #{$n}rem !important;
  }
}

.sb-w-full {
  width: 100% !important;
}
.sb-w-screen {
  width: 100vw !important;
}
.sb-h-full {
  height: 100% !important;
}
.sb-h-screen {
  height: 100vh !important;
}

.sb-max-w-none {
  max-width: none !important;
}
.sb-max-w-xs {
  max-width: 20rem !important;
}
.sb-max-w-sm {
  max-width: 24rem !important;
}
.sb-max-w-md {
  max-width: 28rem !important;
}
.sb-max-w-lg {
  max-width: 32rem !important;
}
.sb-aspect-square {
  aspect-ratio: 1 / 1 !important;
}
.sb-aspect-video {
  aspect-ratio: 16 / 9 !important;
}
